#timer {
	text-align: center;
	.display {
		font-size: 500%;
	}
	input {
		width: 150px;
		text-align: center;
	}
}
#complete {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 198, 0, 0.65);
	span {
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    font-size: 750%;
	    color: #FFF;
	    text-transform: uppercase;
	}
}